html {
    background: url(https://media.giphy.com/media/fJKG1UTK7k64w/giphy.gif)
      no-repeat
      center
      center
      fixed;
    background-color: #84c6e7;
    background-size: contain;
  }
  